.h1 {
  margin-top: var(--margin-top-blog-h1);
  margin-bottom: var(--margin-top-blog-p);
  margin-left: var(--margin-x-blog-text);
  font-size: var(--font-size-blog-h1);
  letter-spacing: var(--letter-spacing-blog-text);
  color: var(--color-blog-h1);
}
