.blog-cover {
  width: 100%;
  max-width: 800px;
  background: transparent;
  margin: 0 auto;

  .title-wrapper {
    margin: 0 var(--margin-x-text-normal);
    display: inline-block;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    cursor: pointer;

    .title-link {
      color: var(--color-text-main);
    }

    .title-link:hover {
      text-decoration: underline double 1px var(--color-text-decorate-hover);
      text-underline-offset: 4px;
    }
  }

  .tags-wrapper {
    margin: 0 var(--margin-x-text-normal);
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--color-text-decorate);

    .tag-item {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      .icon {
        width: 0.75rem;
        height: 0.75rem;
        stroke-width: 3;
      }
    }
  }

  .summary-wrapper {
    margin: 0 var(--margin-x-text-normal);
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: var(--line-height-home-page);
    letter-spacing: 0.05em;
    color: var(--color-text-main);
  }

  .foot {
    margin: 0 var(--margin-x-text-normal);
    margin-top: 6px;
  }
}

.blog-cover + .blog-cover {
  margin-top: 46px;
}
