.blog-cover {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  background: transparent;

  .title-wrapper {
    margin: 0 var(--margin-x-text-normal);
    display: inline-block;
    font-size: 1.375rem;
    line-height: 2rem;
    font-weight: bold;
    cursor: pointer;

    .title-link {
      position: relative;
      color: var(--color-text-main);
    }

    .title-link::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -2px;
      border-bottom: 2px solid var(--color-text-hover);
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    .title-link:hover::after {
      opacity: 1;
    }
  }

  .tags-wrapper {
    margin: 0 var(--margin-x-text-normal);
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.875rem;
    color: var(--color-text-secondary);

    .tag-item {
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      .icon {
        width: 0.75rem;
        height: 0.75rem;
        stroke-width: 3;
      }
    }
  }

  .summary-wrapper {
    margin: 0 var(--margin-x-text-normal);
    margin-top: 0.5rem;
    font-size: 1rem;
    line-height: var(--line-height-home-page);
    color: var(--color-text-main);
  }

  .foot {
    margin: 0 var(--margin-x-text-normal);
    margin-top: 6px;
  }
}

.blog-cover + .blog-cover {
  margin-top: 3.5rem;
}
