.em {
  padding: 0px 8px;
  border-radius: 4px;
  display: inline-block;
  letter-spacing: var(--letter-spacing-blog-text);
  font-size: var(--font-size-blog-text);
  line-height: var(--line-height-blog-text);
  color: var(--color-blog-text);
  background-color: var(--color-bg-strong-text);
}
