.blog {
  .blog-content {
    position: relative;
    width: 100%;
    max-width: 70rem;
    margin: auto;
    display: flex;
    background-color: transparent;
    z-index: 0;

    .left {
      position: relative;
      width: 72%;
      max-width: 50rem;
      margin: auto;
      padding: 0 var(--margin-x-page);
      background-color: transparent;
    }

    .right {
      width: 28%;
      max-width: 20rem;
      padding-left: 3rem;
      padding-right: var(--margin-x-page);
    }
  }
}

@media (max-width: 54rem) {
  .blog .blog-content {
    .left {
      width: 100%;
    }

    .right {
      display: none;
    }
  }
}
