.setting-switch {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-bg-setting-btn);
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 9px 28px 8px rgba(0, 0, 0, 0.05);

  input[type='checkbox'] {
    display: none;
    visibility: hidden;
  }

  .bar {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;

    span {
      position: absolute;
      left: 0;
      width: 18px;
      height: 2px;
      background: var(--color-setting-btn);
      border-radius: 100px;
      display: inline-block;
      transition: 0.3s ease;
    }

    .top {
      left: 11px;
      top: 13px;
    }

    input[type]:checked ~ .top {
      top: 11.5px;
      left: 13px;
      width: 22px;
      transform: rotate(45deg);
      transform-origin: top left;
    }

    .middle {
      left: 11px;
      top: 19px;
    }

    input[type]:checked ~ .middle {
      transform: translateX(-10px);
      opacity: 0;
    }

    .bottom {
      left: 11px;
      top: 25px;
    }

    input[type]:checked ~ .bottom {
      top: 27px;
      left: 11.5px;
      width: 22px;
      transform: rotate(-45deg);
      transform-origin: top left;
      box-shadow: 0 0 10px var(--color-setting-btn);
    }
  }
}
