.p {
  margin: var(--margin-top-blog-p) var(--margin-x-blog-text);
  letter-spacing: var(--letter-spacing-blog-text);
  font-size: var(--font-size-blog-text);
  line-height: var(--line-height-blog-text);
  color: var(--color-blog-text);
}
