.setting-blog {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.setting-blog .setting-button {
  transition: all 0.3s ease;
}

.setting-blog .setting-button-1 {
  transform: translateY(-14px);
  z-index: 8;
}

.setting-blog .setting-button-2 {
  transform: translateY(-28px);
  z-index: 7;
}

.setting-blog .setting-button-hidden {
  opacity: 0;
  transform: translateY(10px);
}
