.mdx-code {
  background-color: #2f353a;
  border-radius: 8px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .decorate {
      display: flex;
      align-items: center;

      .decorate-item {
        padding-left: 0.25rem;
        padding-right: 0.25rem;

        div {
          width: 0.75rem;
          height: 0.75rem;
          border-radius: 50%;
        }

        .red {
          background-color: #ef4444;
        }

        .yellow {
          background-color: #f59e0b;
        }

        .green {
          background-color: #10b981;
        }
      }
    }

    .language {
      color: white;
      font-size: 0.875rem;
    }
  }

  .mdx-code-content {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-bottom: 1rem;

    .shiki {
      margin: 0px;
      overflow-x: scroll;
      background-color: transparent !important;
    }

    .line {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}
