@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'letao';
        src: url('/font/letao.ttf') format('truetype');
    }

    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: #000;
    }
}

@layer utilities {
    @import './_components/blog-cover/index.css';
    @import './_components/button-read-more/index.css';
    @import './_components/button-tag/index.css';

    .mdx-code .shiki {
        margin: 0px;
        overflow-x: scroll;
        background-color: transparent !important;
    }

    .mdx-code .line {
        line-height: 1.25rem;
    }
}