@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 页面主体背景色 */
  --color-background-main: #f7fbfc;
  /* 页面头部天空颜色 */
  --color-sky-main: #f7fbfc;
  /* 页面头部第一层云层颜色 */
  --color-cloud-amin: #b9d7ea;
  /* 页面头部第二层云层颜色 */
  --color-cloud-secondary: #d6e6f2;

  /* 设置按钮背景色 */
  --color-bg-setting-btn: #f7fbfc;
  /* 设置按钮文字颜色 */
  --color-setting-btn: #495057;
}

[data-theme='dark'] {
  /* 页面主体背景色 */
  --color-background-main: #000000;
  /* 页面头部天空颜色 */
  --color-sky-main: #f7fbfc;
  /* 页面头部第一层云层颜色 */
  --color-cloud-amin: #b9d7ea;
  /* 页面头部第二层云层颜色 */
  --color-cloud-secondary: #d6e6f2;
}

@layer base {
  @font-face {
    font-family: 'letao';
    src: url('/font/letao.ttf') format('truetype');
  }

  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background-main);
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

@layer utilities {
  @import './_components/blog-cover/index.css';
  @import './_components/button-read-more/index.css';
  @import './_components/button-tag/index.css';
  @import './_components/blog-directory/index.css';
  @import './_components/setting-blog/index.css';
  @import './_components/setting-switch/index.css';
  @import './_components/setting-theme/index.css';
  @import './_components/setting-voice/index.css';

  .mdx-code .shiki {
    margin: 0px;
    overflow-x: scroll;
    background-color: transparent !important;
  }

  .mdx-code .line {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
