.page-main {
  background-color: var(--color-bg-outside);

  .setting-theme {
    position: absolute;
    top: -6rem;
    left: -9rem;
  }

  .page-content {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 8rem;
    display: flex;
    justify-content: center;
    background: var(--color-bg-content);

    .blog-wrapper {
      width: 65%;
      max-width: 46rem;
      padding: 0 var(--margin-x-page);
    }

    .blog-tags-wrapper {
      width: 35%;
      max-width: 24rem;
      padding: 0 var(--margin-x-page);
      transform: translateY(6rem);

      .title {
        margin: 0 var(--margin-x-text-normal);
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        color: var(--color-text-decorate);
      }

      .tag-box {
        margin: 0 0.625rem;
      }
    }
  }
}

@media (max-width: 54rem) {
  .page-main {
    .page-content {
      .blog-wrapper {
        width: 100%;
      }
      .blog-tags-wrapper {
        display: none;
      }
    }
  }
}
