.page-header {
  position: relative;
  height: 26rem;
  background: linear-gradient(to bottom, var(--color-bg-outside), #ffffff);

  .content-wrapper {
    position: absolute;
    top: 6rem;
    width: 100%;
    display: flex;
    justify-content: center;

    .content-box {
      width: 100%;
      max-width: 70rem;
      display: flex;
      justify-content: space-around;

      .title-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 12.5rem;

        p {
          margin-top: 1rem;
        }
      }
    }
  }
}

@media (max-width: 54rem) {
  .page-header .content-wrapper .content-box img {
    display: none;
  }
}
