.setting-voice {
  --size: 30px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: var(--size);
  user-select: none;
  fill: var(--color-setting-btn);
  background-color: var(--color-bg-setting-btn);
  border-radius: 50%;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.setting-voice .mute {
  position: absolute;
  animation: keyframes-fill 0.5s;
}

.setting-voice .voice {
  position: absolute;
  display: none;
  animation: keyframes-fill 0.5s;
}

.setting-voice input:checked~.mute {
  display: none;
}

.setting-voice input:checked~.voice {
  display: block;
}

.setting-voice input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

@keyframes keyframes-fill {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }

  50% {
    transform: rotate(-10deg) scale(1.2);
  }
}