.chess-cell {
  position: relative;
  background-color: #fef3c7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
  aspect-ratio: 1;

  .span {
    position: absolute;
    bottom: 0.125rem;
    right: 0.25rem;
    font-size: 0.75rem;
    opacity: 0.3;
    transition: opacity 0.3s;
  }

  .piece {
    position: absolute;
    inset: 0.75rem;
    border-radius: 9999px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.chess-cell:hover {
  opacity: 0.9;
}
