.button-tag {
  height: 30px;
  padding: 0 10px;
  margin: 10px 10px 0 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #374151;
  background: #eeeeee;
  border: 0;
  font-size: 14px;
  border-radius: 6px;
  transition: all 0.3s;
  cursor: pointer;

  .icon {
    width: 0.75rem;
    height: 0.75rem;
    stroke-width: 2;
  }
}

.button-tag-active {
  color: #ffffff;
  background-color: #4b5563;
}

.button-tag:hover {
  transform: scale(1.1);
}
