.button-tag {
  height: 2rem;
  margin: 12px 12px 0 0;
  padding: 0 10px;
  border: 0;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--color-text-main);
  background: var(--color-bg-tag);
  transition: all 0.3s;
  cursor: pointer;

  .icon {
    width: 0.75rem;
    height: 0.75rem;
    stroke-width: 2;
  }
}

.button-tag-active {
  color: #ffffff;
  background-color: #4b5563;
}

.button-tag:hover {
  transform: scale(1.1);
}
