[data-theme='dark'] {
  /* 页面主体背景色 */
  --color-background-main: #000000;
  /* 页面头部天空颜色 */
  --color-sky-main: #f7fbfc;
  /* 页面头部第一层云层颜色 */
  --color-cloud-amin: #b9d7ea;
  /* 页面头部第二层云层颜色 */
  --color-cloud-secondary: #d6e6f2;
}
