:root {
  // ----------- 通用 -----------

  // 普通文字
  --color-text-main: #000000;

  // 次要文字
  --color-text-secondary: #6c7693;

  // 点缀文字
  --color-text-decorate: #e60067;

  // 文字hover下横线
  --color-text-hover: #4242fa;

  // 文字选中
  --color-bg-selection: #ffec8f;

  // header、footer
  --color-bg-outside: #b4dafb;

  // 中间内容部分
  --color-bg-content: #513f3f;

  // ----------- 主页 -----------

  // 大标题颜色
  --color-home-title: #0798ff;

  // 大标题阴影
  --color-home-title-shadow: #000000;

  // ----------- 博客 -----------

  // 普通文字
  --color-blog-text: #000000;

  // title
  --color-blog-title: #262d40;

  // h1
  --color-blog-h1: #262d40;

  // 目录
  --color-blog-directory-text: #686d7a;

  // 目录hover
  --color-blog-directory-text-hover: #262d40;

  // 重要文字
  --color-bg-strong-text: #e8f1fc;

  // 设置按钮
  --color-bg-setting-btn: #f7fbfc;
}
