[data-theme='dark'] {
  // ----------- 通用 -----------

  // 普通文字
  --color-text-main: #e3e6e8;

  // 次要文字
  --color-text-secondary: #6c7693;

  // 点缀文字
  --color-text-decorate: #e60067;

  // 文字hover下横线
  --color-text-hover: #809fff;

  // 文字选中
  --color-bg-selection: #393848;

  // header、footer
  --color-bg-outside: #0d0f12;

  // 中间内容部分
  --color-bg-content: #0d0f12;

  // ----------- 主页 -----------

  // 大标题颜色

  --color-home-title: #0798ff;

  // 大标题阴影

  --color-home-title-shadow: #ffffff;

  // ----------- 博客 -----------

  // 普通文字
  --color-blog-text: #e3e6e8;

  // title
  --color-blog-title: #e3e6e8;

  // h1
  --color-blog-h1: #262d40;

  // 目录
  --color-blog-directory-text: #9ca1a8;

  // 目录hover
  --color-blog-directory-text-hover: #e3e6e8;

  // 重要文字
  --color-bg-strong-text: #1a1f23;

  // 设置按钮
  --color-bg-setting-btn: #f7fbfc;
}
